# Summary of coverage (units, area, population)

In [2]:
import dask.dataframe as dd

In [8]:
path = "../../urbangrammar_samba/spatial_signatures/data_combined_raw"

In [11]:
signatures = dd.read_parquet(path, columns=["hindex", "sdbAre", "population"])

In [12]:
signatures

Dask DataFrame Structure:
                 hindex   sdbAre population
npartitions=103
                 object  float64    float64
                    ...      ...        ...
...                 ...      ...        ...
                    ...      ...        ...
                    ...      ...        ...
Dask Name: read-parquet, 103 tasks

In [14]:
types_path = "../../urbangrammar_samba/spatial_signatures/signatures/hindex_to_type"
types = dd.read_parquet(types_path)

In [15]:
types

Dask DataFrame Structure:
                 hindex     id    type
npartitions=103
                 object  int64  object
                    ...    ...     ...
...                 ...    ...     ...
                    ...    ...     ...
                    ...    ...     ...
Dask Name: read-parquet, 103 tasks

In [ ]:
combined = signatures.merge(types, on='hindex')
combined

In [17]:
combined

Dask DataFrame Structure:
                 hindex   sdbAre population     id    type
npartitions=103
                 object  float64    float64  int64  object
                    ...      ...        ...    ...     ...
...                 ...      ...        ...    ...     ...
                    ...      ...        ...    ...     ...
                    ...      ...        ...    ...     ...
Dask Name: hash-join, 1549 tasks

In [18]:
summary = combined.groupby('type').agg({"sdbAre": sum, "population": sum, "id": "count"})

In [19]:
summary = summary.compute()

In [23]:
summary = summary.rename(columns={
    "id": "count",
    "sdbAre": "area",
})

In [25]:
summary.to_csv("summary.csv")

In [26]:
summary

                                              area    population    count
type
Accessible suburbia                   3.454666e+08  8.864356e+06  1964739
Connected residential neighbourhoods  1.008409e+08  3.213846e+06   374815
Countryside agriculture               6.089284e+08  5.827211e+06  3045767
Dense residential neighbourhoods      1.858727e+08  5.052397e+06   504444
Dense urban neighbourhoods            1.370695e+08  4.197983e+06   239632
Disconnected suburbia                 1.193472e+08  3.701970e+06   564854
Distilled urbanity                    4.964788e+06  5.241041e+04     1420
Gridded residential quarters          5.911098e+07  1.629096e+06   210467
Hyper distilled urbanity              8.596735e+05  1.016576e+04      268
Local urbanity                        6.846356e+07  2.508965e+06    86891
Metropolitan urbanity                 7.929789e+06  1.651858e+05     3780
Open sprawl                           5.755730e+08  1.298254e+07  2567484
Regional urbanity                     2.983910e+07  9.428223e+05    21929
Urban buffer                          7.636277e+08  1.270181e+07  3702578
Warehouse land                        2.721232e+08  4.920367e+06   710157
Wild countryside                      1.223994e+08  7.914720e+05   605341
outlier                               5.152459e+04  1.108907e+02      112